<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clac</title>
</head>
<body style="margin: 0;padding: 0; box-sizing: border-box;font-family: sans-serif; color: #32325D;">
    <div style=" min-height: 100vh; background-color: #f5f5f5;">
        <div style="width: 100%; max-width: 80%;margin: auto;">
            <div style="padding: 30px 0;">
                <div style="width: 100%;text-align: center;margin-bottom: 30px;">
                    <img src="<%= company_admin_logo %>" alt="logo">
                </div>
                <div style="text-align: center; background-color: #fff; padding: 30px; border-radius: 10px;">
                    <h1>Welcome!</h1>
                    <div style="width: 100%;text-align: center;margin: 30px 0 0;">
                        <img src="welcome.png" width="140px" alt="logo">
                    </div>
                    <div style="padding-top: 30px;display:inline-block;margin:auto;font-size: 14px;">
                        <p style="text-align: left;">Hello <%= first_name %> <%= last_name %>,</p>
                        <p style="text-align: left">Please find your login details here.</p>
                        <p style="text-align: left"><span>Email id:</span> <%= email %></p>
                        <p style="text-align: left"><span>Password:</span> <%= password %></p>
                        <p style="text-align: left">Your registration is complete.</p>
                        <p style="text-align: left">If you have any question about your account or any other matter,
                            please feel free to contact us at <a href="mailto:support@clac.com">support@clac.com</a></p>
                        <p style="text-align: left">Thank you</p>
                    </div>
                </div>
                <div style="padding: 30px;background: #DBDBDB;color: #32325D;margin-top: 30px;">
                    <div style="width: 100%;display: inline-block;text-align: center;">
                        <p style="display: inline;font-weight: bold;vertical-align: middle;">&copy; CLAC DES DOIGTS 2022
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>