<html lang="">
<head>
    <style>
        /* Ajoutez vos styles CSS ici */
        .primary {
            color: #1b1b98;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #1b1b98;
            color: white!important;
            text-decoration: none;
            border-radius: 10px;
        }
        /*a {
           color: white!important;
        }*/
    </style>
    <title></title>
</head>
<body>

<p>Bonjour <b>{{first_name}} {{last_name}}</b>,</p>
<p>Vous venez de vous inscrire sur notre plateforme. Pour poursuivre votre inscription
    <br>Bien vouloir cliquer sur le lien ci-après afin de valider votre email:</p>
<p><a href="{{validLink}}" class="btn">Valider</a></p>
<p><br>Ce Lien expirera dans <b class="primary">1 heure.</b></p>
<p>Cordialement, Votre équipe de support</p>

<hr>

<p>Hello <b>{{first_name}} {{last_name}}</b>,</p>
<p>You have just registered on our platform. To continue your registration
    <br>Please click on the link below to validate your email:</p>
<p><a href="{{validLink}}" class="btn">Confirm</a></p>
<p><br>This Link will expire in <b class="primary">1 hour.</b></p>
<p>Sincerely, Your support team</p>

<img src="data:image/png;base64,{{logoDSI}}" alt="logo TrustX">

</body>
</html>

